.history {
  background: #d3d3d3;
  width: 200px;
  padding: 10px;
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      button{
        width: 100%;
        border: none;
        background: black;
        color: white;
        padding: 5px;
        font-size: 14pt;
      }
    }
  }
}
